Intelligent content creation agent.json
{
  "name": "Intelligent content creation agent",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -944,
        -352
      ],
      "id": "ea491a79-089f-4bdf-aed5-06ed5bfbfc78",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "1db47047-f451-43a4-94a5-e003b7ca7780",
              "leftValue": "={{$json[\"Status\"]}}",
              "rightValue": "Pending",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -336,
        -352
      ],
      "id": "462e67e4-e579-4c6f-8fe0-8576adcea212",
      "name": "If"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.tavily.com/search",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"api_key\": \"tvly-dev-**********************************\",\n  \"query\": \"{{$json['Topic']}}\",\n  \"search_depth\": \"advanced\",\n  \"include_answer\": true,\n  \"max_results\": 5\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -32,
        -368
      ],
      "id": "4f84d9a0-7aab-4174-af76-093e9c72c1d2",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "fieldToSplitOut": "results",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        320,
        -368
      ],
      "id": "407b275f-de9c-4f33-a2a3-47d20078ef64",
      "name": "Split Out"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "content",
              "renameField": true,
              "outputFieldName": "research_summary"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        640,
        -368
      ],
      "id": "2ff5a93f-1824-4f29-979c-810798e855d4",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "You are a professional LinkedIn content strategist.\nWrite a high-quality, engaging LinkedIn post with:\n- Professional tone\n- Hook in first line\n- Value-driven insights\n- 5 relevant hashtags\n- 120–180 words",
              "role": "model"
            },
            {
              "content": "=Topic: {{$json[\"Topic\"]}}\n\nResearch Data:\n{{$json[\"research_summary\"]}}\n\nGenerate a professional LinkedIn post."
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        -608,
        -112
      ],
      "id": "b4f9dd83-beea-4282-9d1e-fa01018f4155",
      "name": "Linkedin Post",
      "credentials": {
        "googlePalmApi": {
          "id": "5R7DDXzFeC3h6sfm",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "You are a viral Twitter/X content creator.\nWrite a short, engaging tweet:\n- Under 280 characters\n- Catchy hook\n- 2-3 hashtags\n- Simple and impactful\n",
              "role": "model"
            },
            {
              "content": "=Topic: {{$json[\"Topic\"]}}\n\nResearch:\n{{$json[\"research_summary\"]}}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        -304,
        -112
      ],
      "id": "83c784ee-19a9-44e6-a481-de86a78d532e",
      "name": "X (Twitter) Post",
      "credentials": {
        "googlePalmApi": {
          "id": "5R7DDXzFeC3h6sfm",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "You are an expert blog writer.\nWrite a 150-200 word informative blog summary that is:\n- SEO friendly\n- Easy to understand\n- Fact-based\n- Structured with short paragraphs",
              "role": "model"
            },
            {
              "content": "=Topic: {{$json[\"Topic\"]}}\n\nResearch:\n{{$json[\"research_summary\"]}}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        48,
        -112
      ],
      "id": "7902413f-406b-4521-b2a6-d9fdf5802def",
      "name": "Blog Summary",
      "credentials": {
        "googlePalmApi": {
          "id": "5R7DDXzFeC3h6sfm",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1Tuc7N0s00VJ9QuGGsLKc93ldJLifGRgCPW0ceuTJbHE",
          "mode": "list",
          "cachedResultName": "Trending Topics111",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Tuc7N0s00VJ9QuGGsLKc93ldJLifGRgCPW0ceuTJbHE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 933894279,
          "mode": "list",
          "cachedResultName": "Topic",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Tuc7N0s00VJ9QuGGsLKc93ldJLifGRgCPW0ceuTJbHE/edit#gid=933894279"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "LinkedIn_Post": "={{ $('Linkedin Post').item.json.content.parts[0].text }}",
            "X_Post": "={{ $('X (Twitter) Post').item.json.content.parts[0].text }}",
            "Blog_Summary": "={{ $json.content.parts[0].text }}",
            "Status": "Completed",
            "Published_Date": "={{$now}}",
            "row_number": 2
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Topic",
              "displayName": "Topic",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "LinkedIn_Post",
              "displayName": "LinkedIn_Post",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "X_Post",
              "displayName": "X_Post",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Blog_Summary",
              "displayName": "Blog_Summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Published_Date",
              "displayName": "Published_Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        464,
        -112
      ],
      "id": "a9fe5ac2-6c04-4987-9042-19f1b4ef0d28",
      "name": "Output",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "3BChllcVzNyi6fNZ",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1Tuc7N0s00VJ9QuGGsLKc93ldJLifGRgCPW0ceuTJbHE",
          "mode": "list",
          "cachedResultName": "Trending Topics111",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Tuc7N0s00VJ9QuGGsLKc93ldJLifGRgCPW0ceuTJbHE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 933894279,
          "mode": "list",
          "cachedResultName": "Topic",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Tuc7N0s00VJ9QuGGsLKc93ldJLifGRgCPW0ceuTJbHE/edit#gid=933894279"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -624,
        -352
      ],
      "id": "e37e6ef7-4134-4245-b1c3-e2884727b702",
      "name": "Input Topic",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "3BChllcVzNyi6fNZ",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Input Topic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Linkedin Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Linkedin Post": {
      "main": [
        [
          {
            "node": "X (Twitter) Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "X (Twitter) Post": {
      "main": [
        [
          {
            "node": "Blog Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Blog Summary": {
      "main": [
        [
          {
            "node": "Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Input Topic": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "d74f8d64-dda6-48a4-b3b3-13df266177c7",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4ca1128347783d4ec17b1701a180c429c85bf27ea4dabae9cc8fd8fe7c73e7ef"
  },
  "id": "Wo5afJkTIuqBRMGZ",
  "tags": []
}